<h1>スレッド編集</h1>
<%= form_for(@mythread) do |f| %>
  <%= f.label :title, "タイトル" %>
  <%= f.text_field :title %>
  <%= f.label :comment, "コメント" %>
  <%= f.text_area :comment %>
  <%= f.submit "更新" %>
<% end %>
